doctype html
html(lang="es")
  head
    style
      include styles.css
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Currículum
  body
    h1 Currículum de Usuario

    .user-details
      p
        strong Nombre:
        | #{name}
      p
        strong Email:
        | #{email}
      p
        strong Teléfono:
        | #{phoneNumber}
      // Agrega más campos según sea necesario

    .section
      h2 Sobre mí
      p #{aboutMe}

    .section
      h2 Idiomas
      ul
        each language in languages
          li
            | #{language.name} - #{language.proficientLevel}

    .section
      h2 Habilidades Duras
      ul
        each skill in hardSkills.featured
          li #{skill.name}
      h3 Habilidades Personales
      ul
        each skill in hardSkills.personal
          li #{skill.name}

    .section
      h2 Habilidades Blandas
      ul
        each skill in softSkills.featured
          li #{skill.name}
      h3 Habilidades Personales
      ul
        each skill in softSkills.personal
          li #{skill.name}

    .section
      h2 Educación
      h3 Destacada
      ul
        each edu in education.featured
          li
            | #{edu.name} - #{edu.degree} (#{edu.graduationYear})
      h3 Personal
      ul
        each edu in education.personal
          li
            | #{edu.name} - #{edu.universityName} - #{edu.degree} (#{edu.graduationYear})

    .section
      h2 Experiencia Laboral
      ul
        each exp in workExperiences
          li
            | #{exp.organizationName} - #{exp.jobTitle} (#{exp.entryDate} - #{exp.departureDate})
